<div>
  <form @submit.prevent="handleSubmit">
    <div 
      role="tablist" 
      v-for="({ header, description, fields }, i) in settingsFieldGroups" 
      class="card m-0" :key="i"
    >
      <div>
        <div 
          role="tab" 
          v-b-toggle="'accordion-' + i" 
          class="card-title bg-pale-gray border h6"
        >
          {{ header }}
        </div>
      </div>
      <b-collapse 
        class="p-4 border-right border-left" 
        accordion="my-accordion" 
        :id="'accordion-' + i"
      >
        <div 
          v-for="(config) in fields" 
          :key="`${Boolean(config.hide).toString()}-${config.field}`"
        >
          <div 
            class="alert alert-info" 
            v-if="description"
          >
            <span 
              slot="message" 
            >
              {{ description }}
            </span>
          </div>
          <template v-if="checkNestedObjectsArray(config.schema)">
            <div 
              v-for=
                "({ dataList, lowerCaseTitle, field }) in [{
                  ...config,
                  dataList: config.hide ? hiddenData[config.field] : data[config.field],
                  lowerCaseTitle: (config.schema.items.title || '').toLowerCase()
                }]" 
              key="nested">
              <div class="d-flex justify-content-start overflow-hidden">
                <button 
                  class="mr-2 btn btn-secundary btn-sm" 
                  @click.prevent="dataList.push({})"
                >
                  {{ `${i19add} ${lowerCaseTitle}` }}
                </button>
                <div class="btn btn-secundary btn-sm">
                  <input 
                  type="file"
                  accept=".csv"
                  id="upload"
                  >
                  <i class="fas fa-upload mr-2" style="z-index: 1"></i>
                </div>
                
                  
                  
              </div>

              <div 
                :dataSource="dataList" 
                class="mt-3 mb-4 list-group"
              >
                <div 
                  v-for="(item, index) in dataList" 
                  class="card border p-3 "
                >
                  <div>
                    <a 
                      slot="title" 
                      class="text-muted" 
                      href="#" 
                      @click.prevent="dataListsIndexes[field] = index"
                    >

                      <span 
                        v-if="dataListsIndexes[field] === index" 
                        key="editing"
                      >
                        <i class="fas fa-pen-square mr-1"></i>
                        {{ `${i19editing} ${lowerCaseTitle}` }}
                      </span>

                      <span v-else key="edit">
                        <i class="fas fa-pen mr-1"></i>
                        {{ i19edit }}
                      </span>

                      <samp class="ml-1">
                        #{{ (index + 1) }}
                      </samp>
                    </a>

                    <div 
                      slot="description" 
                      class="text-muted"
                    >
                      {{ getObjectValues(item) }}
                      <div 
                        class="mt-2" 
                        v-if="dataListsIndexes[field] === index"
                      >
                        <button 
                          class="btn btn-danger rounded btn-xs"
                          @click.prevent="removeDataListElement(dataList, index, field)"
                        >
                          {{ i19delete }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <div :key="formResetKey">
            <component
              :is="checkComplexSchema(schema) && field === config.field ? 'div' : 'a-form-item'"
              v-for="({
                field,
                name,
                schema,
                component,
                data
              }) in parseAdminSettingsField(config)"
              :key="name"
              :label="schema.title || field"
              :label-col="{ span: 8 }"
              :wrapper-col="{ span: 16 }"
            >
              <template v-if="schema.description" #extra>
                <span v-html="getDescriptionHtml(schema.description)"></span>
              </template>
              <component
                v-bind="{ name, schema }"
                v-model="data[field]"
                :is="component"
              />
            </component>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-1">
          <button 
            class="btn rounded btn-primary btn-sm" 
            type="primary" 
            html-type="submit"
          >
            <i class="fas fa-save mr-2"></i>
            {{ i19save }}
          </button>
        </div>
      </b-collapse>
    </div>
  </form>
</div>