<div>
  <form
    autocomplete="off"
    @submit.prevent="handleSubmit"
  >
    <div
      role="tablist"
      v-for="({ header, description, fields }, i) in settingsFieldGroups"
      class="card border mb-2"
      :key="`card-${i}`"
    >
      <div>
        <h5
          v-if="openCollapse !== 0 || settingsFieldGroups.length > 1"
          role="button"
          class="card-title bg-light"
          v-b-toggle="'collapse-' + i"
        >
          {{ header }}
        </h5>
      </div>
      <b-collapse
        class="card-body"
        accordion="admin-settings"
        :id="'collapse-' + i"
        :visible="i === openCollapse"
      >
        <div
          v-for="(config) in fields"
          :key="`${Boolean(config.hide).toString()}-${config.field}`"
        >
          <div
            class="alert alert-info"
            v-if="description"
            v-html="getDescriptionHtml(description)"
          ></div>

          <template v-if="checkNestedObjectsArray(config.schema)">
            <div
              v-for="({ dataList, lowerCaseTitle, field }, i) in [{
                ...config,
                dataList: config.hide ? hiddenData[config.field] : data[config.field],
                lowerCaseTitle: (config.schema.items.title || '').toLowerCase()
              }]"
              :key="`nested-${i}`"
            >
              <div class="d-flex align-items-center">
                <button
                  class="mr-2 btn btn-secundary btn-sm"
                  @click.prevent="dataList.push({})"
                >
                  {{ `${i19add} ${lowerCaseTitle}` }}
                </button>

                <button
                  class="ml-2 mr-2 btn btn-outline-danger btn-sm"
                  @click.prevent="dataList.splice(0)"
                >
                  {{ i19deleteAll }}
                </button>

                <div
                  class="custom-file"
                  style="max-width: 200px"
                >
                  <input
                    type="file"
                    class="custom-file-input"
                    accept=".csv"
                    @change="ev => uploadCsv(dataList, ev.target.files && ev.target.files[0])"
                  >
                  <label class="custom-file-label">
                    <i class="fa fa-upload mr-2"></i>
                    {{ i19upload }}
                  </label>
                </div>
                <button
                  class="ml-2 mr-2 btn btn-outline-danger btn-sm"
                  @click.prevent="downloadCsv(dataList)"
                > 
                  {{ i19download }}
                </button>
              </div>

              <div class="mt-3 mb-4 list-group">
                <div
                  v-for="(item, index) in dataList"
                  class="border rouded mb-2 p-2"
                  :key="`list-${i}-${index}`"
                >
                  <div>
                    <a
                      slot="title"
                      class="text-muted"
                      href="#"
                      @click.prevent="dataListsIndexes[field] = index"
                    >
                      <span
                        v-if="dataListsIndexes[field] === index"
                        key="editing"
                      >
                        <i class="fa fa-pencil-square mr-1"></i>
                        {{ `${i19editing} ${lowerCaseTitle}` }}
                      </span>

                      <span v-else key="edit">
                        <i class="fa fa-pencil mr-1"></i>
                        {{ i19edit }}
                      </span>

                      <samp class="ml-1">
                        #{{ (index + 1) }}
                      </samp>
                    </a>

                    <div
                      slot="description"
                      class="text-muted"
                    >
                      {{ getObjectValues(item) }}
                      <div
                        class="mt-2"
                        v-if="dataListsIndexes[field] === index"
                      >
                        <button
                          class="btn btn-outline-danger btn-xs"
                          @click.prevent="removeDataListElement(dataList, index, field)"
                        >
                          {{ i19delete }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <div :key="formResetKey">
            <div
              v-for="({
                field,
                name,
                schema,
                component,
                data
              }) in parseAdminSettingsField(config)"
              :key="name"
              class="form-group"
            >
              <label
                v-if="schema.type !== 'boolean'"
                class="h6"
              >
                {{ schema.title || field }}
              </label>
              <component
                v-bind="{ name, schema }"
                v-model="data[field]"
                :is="component"
              />
              <template v-if="schema.description">
                <span
                  v-html="getDescriptionHtml(schema.description)"
                  class="text-muted"
                >
                </span>
              </template>
            </div>
          </div>
        </div>

        <button
          v-if="!isSkippedApp"
          class="btn btn-primary"
          type="submit"
          :disabled="isSaving"
        >
          <span
            class="d-inline-block"
            style="width: 1.15rem"
          >
            <span v-if="isSaving">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </span>
            <i
              v-else
              class="fa fa-floppy-o"
            ></i>
          </span>
          <slot name="submit-label">
            {{ i19save }}
          </slot>
        </button>
      </b-collapse>
    </div>
  </form>
</div>
