<div class="ec-apps-market">
  <div class="card pt-3 pl-3">
    <h1>
      {{ i19applications }}
    </h1>
    <ul 
      class="nav nav-tabs" 
      v-model="activeTabKey"
    >
      <li 
        v-for="(label, key) in tabs" 
        class="nav-item" 
        :key="key"
      >
        <a
          class="nav-link"
          :class="{ active: activeTabKey === key }"
          role="button"
          @click="activeTabKey = key"
        >
          {{ label }}
        </a>
      </li>
    </ul>
  </div>

  <div 
    v-if="!loading" 
    class="pt-2"
  >
    <div 
      class="card bg-pale-yellow border p-2" 
      v-if="loadError"
    >
      {{ errorMessage }}
      <div>
        <a 
          role="button" 
          @click="updateTabContent"
        >
          {{ i19tryAgain }}
        </a>
      </div>
    </div>

    <article 
      v-else 
      key="list"
    >
      <div class="row">
        <div 
          class="col-6 col-md-4 col-lg-3" 
          v-for="(app, i) in apps"
        >
          <component
            :is="activeTabKey === 'market' ? 'ec-app-card' : 'ec-installed-app-card'"
            :app.sync="apps[i]"
            :ecomApps="ecomApps"
            @click="$emit('click:app', app)"
            class="mb-4"
          />
        </div>
      </div>
    </article>
  </div>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
