<div
  class="ec-app-card card"
  style="cursor: pointer"
  @click="$emit('click')"
>
  <div
    v-if="hasNewVersion"
    class="w-100 position-absolute alert alert-warning"
  >
    <i class="fa fa-warning"></i> {{ i19outOfDate }}
  </div>
  <img
    v-if="iconUrl"
    class="card-img-top h-auto text-white"
    width="600"
    height="600"
    :src="iconUrl"
    :alt="app.title"
  />
  <div
    v-else
    class="position-relative embed-responsive embed-responsive-1by1 bg-light opacity-60"
  >
    <div
      class="position-absolute d-flex justify-content-center align-items-center py-5 my-md-4 fs-60"
      style="top: 0; width: 100%"
    >
      <i class="fa fa-picture-o"></i>
    </div>
  </div>

  <div class="card-body overflow-hidden">
    <h5 class="card-text text-truncate">
      {{ app.title }}
    </h5>
    <div
      class="card-subtitle mb-2 text-muted"
      style="height: 100px"
    >
      {{ formattedDescription }}
    </div>
  </div>

  <div class="card-footer b-0">
    <h6
      class="text-success"
      v-if="!app.paid"
    >
      {{ i19free }}
    </h6>
    <h6
      class="text-info"
      v-else
    >
      {{ (typeof app.paid === 'string' ? app.paid : i19paid) }}
    </h6>

    <span
      v-if="downloadCount"
      class="float-right"
    >
      <i class="fa fa-download"></i>
      {{ downloadCount }}
    </span>
  </div>
</div>
