<div 
  class="card border" 
  @click="$emit('click')"
>
  <div class="card-body">
    <h5 class=" text-truncate">
      {{ app.title }}
    </h5>
    <samp class="text-muted">
      #{{ app.app_id }}
    </samp>
    <br />
    <div 
      v-if="isActive" 
      style="  
        width: 7px;
        height: 7px;
        background-color: #52c41a;
        border-radius: 50%;
        display: inline-block;"
    >
    </div>
    <div 
      v-else 
      style="  
        width: 7px;
        height: 7px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;"
    >
    </div>
    <span v-if="isActive">
      {{i19active}}
    </span>
    <span v-else>
      {{i19inactive}}
    </span>
    /
    <span 
      class="text-success" 
      v-if="!app.paid"
    >
      {{ i19free }}
    </span>
    <span 
      class="text-info p-0" 
      v-else
    >
      {{ i19paid }}
    </span>
  </div>

  <div 
    class="pl-4" 
    :title="i19version" 
    :value="app.version"
  >
    <h6 class="text-muted">
      {{ i19version }}
    </h6>
      <h3>
        <span>
          <small class="h3 text-dark">
            v
          </small>
        </span> 
        {{ app.version }}
      </h3>
    <small>
      {{ formatDate(app.version_date) }}
    </small>
  </div>

  <div 
    class="card-footer d-flex justify-content-around bg-pale-gray" 
    v-if="!loading"
  >
    <i 
      class="fas px-2 fa-edit align-self-center"  
      role="button" 
      :title="i19edit"
    >
    </i>
    <div class="border-left"></div>
    <div 
      v-if="isActive" 
      role="button"
      :title="i19disable" 
      key="disable"
    >
      <i 
        @click.stop="toggleState" 
        class="fas px-2 fa-toggle-on">
      </i>
    </div>
    <div 
      v-else role="button"
      :title="i19activate" 
      key="activate"
    >
      <i 
        @click.stop="toggleState" 
        class="fas px-2 fa-toggle-off"
      >
      </i>
    </div>
  </div>
</div>
